<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.motorola.screentimecontroller">

<!--    android:testOnly="false"-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScreenTimeController">

        <uses-library
            android:name="moto-core_services"
            android:required="true" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MotoAppScreenControlBlocker"
            android:exported="true"
            android:theme="@style/Theme.Blocker"
            android:finishOnCloseSystemDialogs="false"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard|keyboardHidden"
            >

            <intent-filter android:priority="1000">
                <action android:name="com.motorola.appscreencontrol.blocker" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity android:name=".TaskBlockUpInfoActivity" />
        <activity android:name=".TaskUsageInfoActivity" />
        <activity android:name=".TaskWhiteListActivity" />
        <activity android:name=".BlockUpTimeSettingActivity" />

        <service
            android:name="com.motorola.screentimecontroller.ScreenTimeControllerService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"
            android:permission="com.motorola.permission.BIND_EXPERIENCE">
            <intent-filter>
                <action android:name="com.motorola.screentimecontroller.ScreenTimeControllerService" />
            </intent-filter>
        </service>

        <provider
            android:name=".provider.ScreenUsageProvider"
            android:authorities="com.motorola.screenusagecontroller" />

    </application>

</manifest>